<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns: th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Tere hommikust!</h1>-->
<!--<h2>This is the demo for the Natomic Isolator, which is a tool to do natomic isolation on textual artifacts!</h2>-->

<!--<a href="login">Login to your account.</a>-->
<!--<br>-->
<!--<a href="/home">If you've logged in, click here to move forward.</a>-->
<!--</body>-->
<!--</html>-->