<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>The Library </h1>
<br/>
<h3>Welcome to the learning corner of our tool. Stored here are basic texts on natomic theory and how to use this tool.</h3>
<h3>You can either look at the archive of completed analysis or continue your educational adventure in narremes below. </h3>
<a href="archive.html">Move to archive.</a>
<br/>
<a href="learning.html">Move to learning library.</a>

</body>
</html>