<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workspace</title>
</head>
<body>
<h2> Use this space to paste in text, applying the necessary bracketing.</h2>
<h2> When you're ready to apply glossary values to your isolated narremes, click submit. </h2>

</br>
</br>

<form action='isolator'>
    <textarea id= 'workspaceSubmission' name='workspaceSubmission' style='width: 200px; height 600px;'>
    </textarea>
</br>
    <input type='submit' value='Submit isolated text for categorization.' >
</form>

</br>
</br>

<a href="glossary.html">Click here to adjust your Glossary</a>
</br>
</br>
</br>
</br>
</br>
</br>

<h2>Below is your most recently submitted table of narremes.</h2>
<h2> Click the dropdown menu to assign a glossary value to each term. Submit when finished.</h2>
<form action="categorization">

    <input type='text' value='Your name here'>
    <input type='submit' value='Submit categorized narremes for recording.' >
</form>





</body>
</html>